@font-face {
    font-family: 'Beyond The Mountains';
    font-style: normal;
    font-weight: normal;
    src: local('Beyond The Mountains'), url('beyond_the_mountains.woff') format('woff');
}
@font-face {
    font-family: 'Beyond The Mountains';
    font-style: normal;
    font-weight: normal;
    src: local('Beyond The Mountains'), url('beyond_the_mountains.woff') format('woff');
}

h1
{
    font-family: 'Beyond The Mountains';
    color: white;
    font-size: 100px;
    text-align: center;
    font-weight: 10;
    margin-top: 0px;
    margin-bottom: 20px;
}

h2
{
    font-family: 'Beyond The Mountains';
    color: white;
    font-size: 50px;
    text-align: center;
    font-weight: 10;
    margin-top: 0px;
    margin-bottom: 20px;
}

p.top
{
    color: white;
    text-align: center;
    font-weight: bold;
}

.menu_button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    text-align: center;
    background-color: red;
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    border-bottom-color: white;
  }

body
{
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 1.667;

    margin-top:0; 
    margin-bottom:0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 100%;
}

div
{
    display:inline-block;
}

div.History
{
    display: inline-block;
    background-color: black;
    color: white;
    background-position: 0 -150px;
    padding-bottom: 100px;
}

div.HeaderDiv
{
    background-position: 0 -150px;
    min-height: 100vh;
    width: 100%; 
    background-repeat: no-repeat;
    background-size: 1550px 1000px; 
    background-image: repeating-linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("../Images/hamburguesa2.jpg");
}

div.buttondiv
{
    text-align: center;
    display:inline-block;
}

div.MostSold
{
    background-position: 0 0px;
    min-height: 100vh;
    width: 100%; 
    background-repeat: no-repeat;
    background-size: 1550px 1000px; 
    background-image: repeating-linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url("../Images/hamburguesa1.jpg");
}

header
{
    background: rgba(0, 0, 0, 0.55);
}

table.header
{
    margin-left:auto; 
    margin-right:auto;
}

table.History
{
    margin-right:100px
}

table.menubutton
{
    margin-left:auto; 
    margin-right:auto;
}

img.Ibra
{
    height:40%;
    padding-right: 80px;
    display:inline;
}

img.LeftPic
{
    float: left;
    max-width:15%;
}

img.RightPic
{
    float: right;
    max-width:15%;
}

img.TinyBurger
{
    padding-top: 75px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 2%;
}

div.TopTriangle
{
    width: 100%;
    height: 50px;
    background-image: url("../Images/triangle_bg_black.png");
    background-size: 25px 10px;
    background-repeat: repeat-x;
    opacity: 0.55;
}

div.BottomTriangle
{
    transform: rotate(180deg);
    width: 100%;
    height: 50px;
    background-image: url("../Images/triangle_bg_black.png");
    background-size: 25px 10px;
    background-repeat: repeat-x;
    position: relative;
    top: 200px;
    left: -10px;
    overflow: hidden;    
}
nav.head
{
    text-align:center;
    padding-right: 30px;
    display: inline;
    
}

li
{
    display:inline;
}

nav a
{
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: 400;
    line-height: 1.667;
    text-decoration: none;
    display:inline-block;
    padding-right: 20px;
    color:white;
}

a.current
{
   color: red;
}